name: Automatic Release Notes

on:
  push:
    tags:
      - "v*"

jobs:
  release_notes:
    name: Generate Release Notes
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Release Notes
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: true
          allowUpdates: true
